*{
    box-sizing: border-box;
}
body{
    background-image: url("kepek/background.jpg");
    background-color: rgb(255, 255, 255);
    background-repeat: round;
    background-size: auto;
    background-attachment: fixed;
    margin: 0;
}
.nev{
    color: rgba(255, 255, 255, 0.849);
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    text-decoration: none;
    text-align: center;
    line-height: 5px;
    cursor: context-menu;
}
.sornev{
    text-align: center;
    color: rgba(255, 255, 255, 0.849);
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    line-height: 5px;
    cursor: context-menu;
}